<div class="container">
  <div class="row justify-content-md-center container-vertical-center">
    <div class="center-container col-md-7 col-sm-12">

      <form novalidate
            [formGroup]="form">
        <div class="text-center">
          <h3 class="font-weight-bold">User Information</h3>

          <hr/><br/>

          <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text"
                   class="form-control"
                   id="first-name"
                   formControlName="firstName">
          </div><!-- END .form-group -->

          <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text"
                   class="form-control"
                   id="last-name"
                   formControlName="lastName">
          </div><!-- END .form-group -->

          <div class="form-group">
            <label for="gender">Gender</label>

            <select class="form-control"
                    id="gender"
                    formControlName="gender">
              <option value="m">Male</option>
              <option value="f">Female</option>
            </select>
          </div><!-- END .form-group -->

          <div class="form-group">
            <label for="email-address">Email Address</label>
            <input type="text"
                   class="form-control"
                   id="email-address"
                   formControlName="email">
          </div><!-- END .form-group -->

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password"
                   class="form-control"
                   id="password"
                   formControlName="password">
          </div><!-- END .form-group -->

        </div><!-- END .text-center -->
      </form>

      <br/>

      <button class="btn btn-block btn-primary"
              [disabled]="!form.valid"
              (click)="register(form.value)">Register
      </button>

      <div *ngIf="isSuccessful">
        <br/>
        <div class="alert alert-success text-center">
          <strong>Success!</strong>
          Go and Test your record on
          <a [routerLink]="['/']"
             class="active">
            <strong>
              <u>Login Page</u>
            </strong>
          </a>
          now!
        </div><!-- END .alert -->
      </div><!-- END ngIf -->

      <div *ngIf="!isSuccessful && errorMessage">
        <br/>
        <div class="alert alert-danger text-center">
          <fa class="text-danger"
              name="exclamation-triangle"></fa>

          <strong>{{errorMessage}}</strong>
        </div><!-- END .alert -->
      </div><!-- END ngIf -->

    </div><!-- END .center-container -->
  </div><!-- END .row -->
</div><!-- END .container -->
