/* Font */
@font-face {
  font-family: 'Raleway-Light';
  src: url('../fonts/Raleway-Light.ttf');
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url('../fonts/Raleway-Medium.ttf');
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url('../fonts/Raleway-SemiBold.ttf');
}

/* Global */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #F07D72;
  font-family: 'Raleway-Light', 'sans-serif';
}

a {
  color: #484444;
}

a:hover {
  color: #EB6469;
  text-decoration: none;
}

/* Container */
.center-container {
  background-color: white;
  padding: 70px;
  padding-bottom: 90px;
  border-radius: 5px;
}

.container-vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
