$purple-300: #5854f9;
$purple-200: #6763de;
$purple-100: #807efd;
$purple-50: #bebdff;

$yellow-100: #e2a621;
$yellow-50: #fddb57;

$pink-100: #eb4b88;

$gray: #535154;

$dark-blue: #54526f;

$light-blue: #eaeef2;

$light-gray: #b4b3b8;
