/* Typography */
h2 {
  margin-bottom: 0;
  display: inline-block;
}

p { font-size: 13px; }

hr {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  border-color: #e8e8e8;
  margin-bottom: 8px;
}


/* Icons */
i.material-icons {
  color: #6d6868;
  font-size: 27px;
  position: relative;
  top: 3px;
}


/* Container */
@media screen and (max-width: 375px) {
  .center-container { padding: 60px 30px !important; }
}

.center-container { padding-bottom: 95px; }

#or-border {
  position: relative;
  padding: 10px 0;
}

#or-border span {
  position: absolute;
  top: -1px;
  background: white;
  font-weight: bold;
  color: gray;
  width: 50px;
  margin-left: -20px;
}

/* Footer - Social Links */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: whitesmoke;
  left: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.footer > p {
  padding: 0 59px;
  position: relative;
  top: 7px;
}
