/* Typography */
h2, p {
    color: #565252;
}

h2 {
    margin-bottom: 0;
    display: inline-block;
}

p {
    font-size: 13px;
}

hr {
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
    border-color: #e8e8e8;
    margin-bottom: 8px;
}

/* Icons */
i.material-icons {
    color: #6d6868;
    font-size: 27px;
    position: relative;
    top: 3px;
}

/* Container */
.center-container {
  padding-bottom: 95px;
}

/* Footer - Social Links */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: whitesmoke;
    left: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.footer > p {
    padding: 0 30px;
    position: relative;
    top: 7px;
}

.footer span {
    margin-left: 15px;
}

.footer fa {
    padding-right: 10px;
}
