<div class="container">
  <div class="row justify-content-md-center container-vertical-center">
    <div class="center-container col-md-6 col-sm-12">
      <div class="text-center">
          <i class="material-icons">assignment_ind</i>
          <h2>Passport Auth</h2>
      </div><!-- END .text-center -->

      <br/><hr/><br/>

      <!-- Social Login Buttons -->
      <div class="row text-center"
           id="social-login">
        <div class="col-md-12">
          <a href="{{baseUrl}}/auth/google">
            <button class="btn"
                    id="google">
              <fa name="google-plus"></fa>
              <span>Sign In with Google</span>
            </button>
          </a>
        </div><!-- END .col-md-12 -->

        <div class="col-md-12">
          <a href="{{baseUrl}}/auth/twitter">
            <button class="btn"
                    id="twitter">
              <fa name="twitter"></fa>
              <span>Sign In with Twitter</span>
            </button>
          </a>
        </div><!-- END .col-md-12 -->

        <div class="col-md-12">
          <a href="{{baseUrl}}/auth/facebook">
            <button class="btn"
                    id="facebook">
              <fa name="facebook"></fa>
              <span>Sign In with Facebook</span>
            </button>
          </a>
        </div><!-- END .col-md-12 -->
      </div><!-- END .row -->

      <br/>

      <div class="text-center"
           id="or-border">
        <hr>
        <span class="text-center">or</span>
      </div><!-- END #or-border -->

      <br/>

      <!-- Local Login -->
      <div class="row text-center">
        <div class="col-md-12">
          <form [formGroup]="form"
                (submit)="signIn($event, form.value)"
                novalidate>
            <div class="form-group">
              <input type="text"
                     class="form-control"
                     id="email"
                     placeholder="Enter Email Address"
                     formControlName="email">
            </div><!-- END .form-group -->

            <div class="form-group">
              <input type="password"
                     class="form-control"
                     id="password"
                     placeholder="Enter Password"
                     formControlName="password">
            </div><!-- END .form-group -->

            <div>
              <button type="submit"
                      class="btn btn-block btn-primary"
                      [hidden]="isSigning">
                <small>SIGN IN</small>
              </button>

              <button type="submit"
                      class="btn btn-block btn-primary"
                      [hidden]="!isSigning"
                      [disabled]="true">
                <small>SIGNING IN &nbsp;
                  <fa name="cog"
                      animation="spin"></fa>
                </small>
              </button>
            </div><!-- END div -->
          </form>

          <br/>
          <div *ngIf="errorType === 'invalidProvider'"
               class="alert alert-danger text-center">
            Your account was created via <strong>{{provider}}</strong> authentication. Please Sign In again with the
            right provider.
          </div><!-- END ngIf -->

          <div *ngIf="errorType === 'invalidUser'"
               class="alert alert-danger text-center">
            Account not Found. Please
            <a [routerLink]="['/sign-up']">
              <strong><u>Sign Up</u></strong>
            </a>
            to create and test your account.
          </div><!-- END ngIf -->

          <div *ngIf="errorType === 'invalidPassword'"
               class="alert alert-danger text-center">
            Invalid Password
          </div><!-- END ngIf -->

        </div><!-- END .col-md-12 -->
      </div><!-- END .row -->

      <!-- SIGN UP -->
      <div class="footer text-right">
        <p>Don't have an account? &nbsp;
          <a [routerLink]="['/sign-up']">
            <strong><u>Sign Up</u></strong>
          </a>
        </p>
      </div><!-- END .footer -->

    </div><!-- END .center-container -->
  </div><!-- END .row -->
</div><!-- END .container -->
