<div class="container">
  <div class="row justify-content-md-center container-vertical-center">

    <div class="row"
         *ngIf="!isInvalidAuthentication">
      <fa name="cog"
          animation="spin"></fa>
    </div><!-- END .row -->

    <div class="center-container col-md-6 col-sm-12"
         *ngIf="isInvalidAuthentication">
      <p class="text-center">
        <fa class="text-warning"
            name="exclamation-triangle"></fa>
      </p>

      <p class="text-center">
        Your account was created via <strong>{{provider}}</strong> authentication. Please
        <a [routerLink]="['/']">
          <strong>
            <u>Sign In</u>
          </strong>
        </a>
        again.
      </p>
    </div><!-- END .center-container -->

  </div><!-- END .row -->
</div><!-- END .container -->
